.x-checkboxcombo-list {
	background-color: #DDECFE;
	border: 1px solid #98C0F4;
	overflow: hidden;
}
.x-checkboxcombo-list-inner {
	background-color: #FFFFFF;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
}
.x-checkboxcombo-list-inner .x-form-item {
	border: 1px solid #FFFFFF;
	font: 12px tahoma,arial,helvetica,sans-serif;
	overflow: hidden;
	padding: 2px;
	white-space: nowrap;
	margin: 0px;
}
.x-checkboxcombo-list-inner .x-checkboxcombo-item-over {
	background-color: #DFE8F6;
	border-color: #A3BAE9 !important;
	border: 1px dotted !important;
	cursor:pointer;
	background-color: #DFE8F6;
	border-color: #A3BAE9 !important;
}