.qo-instructions { left:410px; top:245px; width:345px; }
#field1-label { left:410px; top:330px; }
#field1 { left:540px; top:328px; width:200px; }
.qo-submit { background:transparent url(../images/default/login/send.gif) no-repeat 0 0; height:22px; left:705px; top:373px; width:43px; }
.qo-submit-over { background:transparent url(../images/default/login/send.gif) no-repeat 0 -38px; height:22px; left:705px; top:373px; width:43px; }